spring:
  application:
    name: opinion
#数据源配置
  datasource:
    url: jdbc:mysql://localhost:3306/opinionwatchmaster?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: 165700zhenai.
  security:
    user:

#mybatis配置
mybatis:
  mapper-locations:
    - classpath:dao/*.xml
    - classpath*:com/**/mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

server:
  port: 8080

#自定义配置值
custom:
#  新浪词条热度
  sinaTopicPopularity:
    keywordShowCount:6
    keywordShowDay:7

