spring:
  application:
    name: opinion
#数据源配置
  datasource:
    url: jdbc:mysql://124.220.102.203:32306/chenzhou?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: root
    password: zxcv__1324
  security:
    user:
      name: cao
      password: 123


#mybatis配置
mybatis:
  mapper-locations:
    - classpath:dao/*.xml
    - classpath*:com/**/mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

server:
  port: 8080

#自定义配置值
custom:
#  新浪词条热度
  sinaTopicPopularity:
    keywordShowCount: 6
    keywordShowDay: 7
  govInfoConfig:
    titleLength: 10
  czNewsInfoConfig:
    keywordShowCount: 6
    keywordShowMonth: 6

