<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- 滚动文件 Appender，每天生成一个新的日志文件 -->
        <RollingFile name="DailyRollingFile" fileName="./logs/opinion.log"
                     filePattern="./logs/opinion-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <!-- 按天滚动策略 -->
                <TimeBasedTriggeringPolicy />
            </Policies>
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <!-- 关联 DailyRollingFile Appender 用于存储 info、warn、error 信息 -->
            <AppenderRef ref="DailyRollingFile"/>
        </Root>
    </Loggers>
</Configuration>